<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <p> Hot Wheels is an exclusive family-owned business. We are a friendly car dealership that sells the best quality car parts at the best prices. With over 20 years in business,
        we know what you and your car need. We have 100% satisfaction and very high reviews posted by real customers. We promise you won't find better deals anywhere; if you do, we’ll match it.
        We offer only USA-made car parts, so don’t wait—come purchase the car of your dreams today. You’ve earned it.
    </p>

</body>
</html>