<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <p>Hot Wheels an exclusive family owned business, we are a lovely car dealer shop that sells the best quality car parts at the best prices
        with over 20 years in business, we know what you as an owner and car as a car needs. 100% satisfaction and very high reviews posted by real customers
        we promise no better deals anywhere if you find it we match it. we offer USA car parts only, so don't wait, come purchase a car today, buy the car of your dreams. you earned it.
    </p>

</body>
</html>