<!doctype html>
<html lang="http:./www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Purchase confirmed</title>
</head>
<body>
    <h1>Purchase Successful</h1>
    <p>Your product has been successful purchased.</p>
    <a th:href="@{/mainscreen}">Return to Main Screen</a>
</body>
</html>